<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Assessment</title>
    style
       include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/../../../index.html">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Assess Again </a></li>
        </ul>
    </nav>
    <h2 class="tag"> Please give us correct answers </h2>
    <form action="/" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="email" id="email" placeholder="Enter your email">
            <input type="text" name="age" id="age" placeholder="Enter your age">
            <input type="text" name="weight" id="weight" placeholder="Enter your weight">
            <input type="text" name="ans" id="ans" placeholder="Is your menstruation cycle regular?(Yes/No)">
            <input type="text" name="ans" id="ans" placeholder="Is your periods painful?(Yes/No)">
            <input type="text" name="ans" id="ans" placeholder="Do you experience heavy menstruation/short and light menstruation/spotting?(Yes/No)">
            <input type="text" name="ans" id="ans" placeholder="Is your PMS affecting your daily life?(Yes/No)">
            <textarea name="briefing" id="ans" cols="15" rows="7" placeholder="Write in brief about your menstrual cycle according to your observance.."></textarea>
            
    </form>
    <button class="btn">Submit</button>
</body>
    script 
        include ../static/index.js
</html>